@use "../../bootstrap-variables" as bs;
@use "../../functions" as *;

.article {
    &__hero {
        position: relative;
        min-height: to-rem(800);

        img {
            position: absolute;
            z-index: 1;
            width: 100%;
            height: to-rem(800);
            object-fit: cover;
            object-position: center;
        }
    }

    &__title {
        position: absolute;
        bottom: 0;
        z-index: 5;
        width: 100%;
        background: linear-gradient(
                to bottom,
                transparent 0%,
                rgba(bs.$dark ,0.6) 45%,
                rgba(bs.$dark ,0.8) 100%);
        
        h1 {
            text-shadow: to-rem(0) to-rem(2) to-rem(4) rgba(bs.$dark ,0.5);
        }
    }
}