.footer {
  &__link {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__social {
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }
  }
}