@use "../variables";

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: to-rem(32);
  margin: 0;
  font-family: variables.$font-family-sans-serif;
  font-size: to-rem(16);
  line-height: to-rem(24);
  color: variables.$uoc-corporate;
  background-color: variables.$uoc-bg;
}

.uoc-container {
  max-width: to-rem(800);
  padding: to-rem(32);
  margin: auto;
  text-align: center;
  background-color: #fff;
  border-radius: to-rem(32);
  box-shadow:
    0 4px 6px -1px rgb(0 0 0 / 10%),
    0 2px 4px -1px rgb(0 0 0 / 6%);
}

.uoc-logo {
  display: block;
  max-width: to-rem(200);
  height: auto;
  margin-right: auto;
  margin-bottom: to-rem(24);
  margin-left: auto;

  @media (min-width: variables.$mq-min-width) {
    max-width: none;
  }
}

.uoc-title {
  font-family: variables.$font-family-serif;
  font-size: to-rem(24);
  font-weight: 700;
  color: variables.$uoc-corporate;

  @media (min-width: variables.$mq-min-width) {
    font-size: to-rem(36);
  }
}

.uoc-footer {
  margin-top: to-rem(24);
  font-size: to-rem(12);
  text-align: center;
}
