<footer class="footer bg-light-mod pt-5">
  <div class="container">
    <div class="row border-bottom">

      <section class="col-lg-6 col-md-12 mb-4">
        <h3 class="h4">Jornades d'artesania</h3>
        <p>Descobreix l'art i la tradició amb els millors artesans locals.</p>
      </section>

      <section class="col-lg-3 col-md-6 mb-4">
        <h3 class="h6">Informació</h3>
        <nav>
          <ul class="list-unstyled">
            <li class="py-1"><a href="index.html" class="footer__link ps-2">Inici</a></li>
            <li class="py-1"><a href="speakers.html" class="footer__link ps-2">Ponents</a></li>
            <li class="py-1"><a href="gallery.html" class="footer__link ps-2">Galeria</a></li>
            <li class="py-1"><a href="article.html" class="footer__link ps-2">Informació</a></li>
          </ul>
        </nav>
      </section>

      <section class="col-lg-3 col-md-6 mb-4">
        <h3 class="h6">Xarxes socials</h3>
        <div class="d-flex gap-3">
          <a href="#" class="footer__social fs-2" aria-label="Facebook"><i class="bi bi-facebook"></i></a>
          <a href="#" class="footer__social fs-2" aria-label="Instagram"><i class="bi bi-instagram"></i></a>
          <a href="#" class="footer__social fs-2" aria-label="Twitter"><i class="bi bi-twitter-x"></i></a>
          <a href="#" class="footer__social fs-2" aria-label="Youtube"><i class="bi bi-youtube"></i></a>
        </div>
      </section>
    </div>
    
    <div class="row text-center py-3">
      <small>© 2026 IV: Jornades d'artesania - En col·laboració de l'Ajuntament de Petra</small>
    </div>
  </div>
</footer>