<head>
    <meta charset="utf-8"/>
    <title>{{ title }}</title>
    <meta name="author" content="Joan Barceló Fiol">
    <meta name="description" content="{{ description}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./assets/images/favicon.png?width=32" sizes="32x32">
    <link rel="icon" href="./assets/images/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="./assets/images/favicon.png?width=180">
    <link rel="stylesheet" type="text/css" href="./assets/styles/main.scss" />
</head>
