<section class="bg-primary overflow-hidden text-white py-5">
    <div class="container mb-5 pb-5">
        <h2 class="mb-4">Propers esdeveniments</h2>
        <include src="./views/home/event.html">
        {
            "day": "20",
            "month": "Juny",
            "dateTime": "2026-05-23",
            "title": "Taller de ceràmica amb Ernest Vargas",
            "hourStart": "10:00",
            "hourEnd": "12:00",
            "location": "Sala de tallers 1"
        }
        </include>
        <include src="./views/home/event.html">
        {
            "day": "20",
            "month": "Juny",
            "dateTime": "2026-05-23",
            "title": "Demostració de teixit tradicional amb Sofia L'Amore",
            "hourStart": "16:00",
            "hourEnd": "18:00",
            "location": "Pati central"
        }
        </include>
        <include src="./views/home/event.html">
        {
            "day": "20",
            "month": "Juny",
            "dateTime": "2026-05-23",
            "title": "Taula rodona: L'Artesania com a futur sostenible",
            "hourStart": "18:00",
            "hourEnd": "19:30",
            "location": "Auditori principal"
        }
        </include>
        <include src="./views/home/event.html">
        {
            "day": "21",
            "month": "Juny",
            "dateTime": "2026-05-24",
            "title": "Taller de cistelleria amb fibres naturals",
            "hourStart": "10:00",
            "hourEnd": "12:00",
            "location": "Sala de tallers 1"
        }
        </include>
        <include src="./views/home/event.html">
        {
            "day": "21",
            "month": "Juny",
            "dateTime": "2026-05-24",
            "title": "Demostració en viu de tècniques de vidre bufat",
            "hourStart": "18:00",
            "hourEnd": "19:30",
            "location": "Sala de tallers 2"
        }
        </include>
        <include src="./views/home/event.html">
        {
            "day": "21",
            "month": "Juny",
            "dateTime": "2026-05-24",
            "title": "Concert de cloenda amb instruments de luthier",
            "hourStart": "21:00",
            "hourEnd": "22:30",
            "location": "Auditori principal"
        }
        </include>
    </div>
</section>