<section class="hero text-white">
  <div class="container hero__grid gap-4">
    <div class="hero__location py-3">
      <div class="hero__location-content border-start border-secondary border-4 px-3">
        <h3 class="h5 mb-2"><i class="bi bi-geo-alt-fill text-secondary"></i> Petra</h3>
        <address class="mb-3">Passeig dels Arcs de Ferro, <br> Pavelló de les Arts Aplicades</address>
        <a href="https://maps.app.goo.gl/m567gFnwrq1K12ir6" target="_blank" class="hero__location-btn btn btn-secondary btn-sm px-3">
          Veure mapa
        </a>
      </div>
    </div>

    <div class="hero__title">
      <h1 class="display-2 display-sm-1 fw-bold text-uppercase">Jornades d'artesania</h1>
      <p class="lead fw-bold mb-2">20 i 21 de Juny</p>
      <p class="lead">L'art no només es mira, es fa. Participa en els nostres tallers i descobreix el talent local.</p>
    </div>

    <div class="hero__countdown" id="hero-countdown">
      <p class="hero__countdown-item">
        <span class="h2 mb-0" id="cd-days">00</span>
        <span class="small">Dies</span>
      </p>
      <p class="hero__countdown-item">
        <span class="h2 mb-0" id="cd-hours">00</span>
        <span class="small">Hores</span>
      </p>
      <p class="hero__countdown-item">
        <span class="h2 mb-0" id="cd-mins">00</span>
        <span class="small">Min</span>
      </p>
      <p class="hero__countdown-item">
        <span class="h2 mb-0" id="cd-secs">00</span>
        <span class="small">Seg</span>
      </p>
    </div>
  </div>
</section>