/* manrope-regular - latin */
@font-face { 
  font-family: Manrope;
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/manrope-v20-latin-regular.woff2') format('woff2');
  font-display: swap; 
}

/* manrope-600 - latin */
@font-face { 
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/manrope-v20-latin-600.woff2') format('woff2');
  font-display: swap; 
}

/* manrope-700 - latin */
@font-face {
  font-family: Manrope;
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/manrope-v20-latin-700.woff2') format('woff2');
  font-display: swap;
}

/* noto-serif-regular - latin */
@font-face { 
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/noto-serif-v33-latin-regular.woff2') format('woff2');
  font-display: swap; 
}

/* noto-serif-italic - latin */
@font-face { 
  font-family: 'Noto Serif';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/noto-serif-v33-latin-italic.woff2') format('woff2');
  font-display: swap; 
}

/* noto-serif-600 - latin */
@font-face { 
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/noto-serif-v33-latin-600.woff2') format('woff2');
  font-display: swap; 
}

/* noto-serif-600italic - latin */
@font-face { 
  font-family: 'Noto Serif';
  font-style: italic;
  font-weight: 600;
  src: url('../fonts/noto-serif-v33-latin-600italic.woff2') format('woff2');
  font-display: swap; 
}

/* noto-serif-700 - latin */
@font-face { 
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/noto-serif-v33-latin-700.woff2') format('woff2');
  font-display: swap; 
}

/* noto-serif-700italic - latin */
@font-face { 
  font-family: 'Noto Serif';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/noto-serif-v33-latin-700italic.woff2') format('woff2');
  font-display: swap; 
}

h1, h2, h3 {
  text-wrap-style: balance;
}