<div class="speakers-list g-4">

    <include src="./views/speakers/speakers-card.html">
        {
        "img": "./assets/images/ponent-1.jpg",
        "alt": "Fotografia de Ernest Vargas treballant amb fang",
        "label": "Ceràmica tradicional",
        "nom": "Ernest Vargas",
        "descripcio": "Mestre artesà amb més de 30 anys d'experiència recuperant tècniques de cocció tradicionals de l'illa."
        }
    </include>

    <include src="./views/speakers/speakers-card.html">
        {
        "img": "./assets/images/ponent-2.jpg",
        "alt": "Fotografia de Julián Martos revisant un tauló de fusta",
        "label": "Ebenisteria d'autor",
        "nom": "Julián Martos",
        "descripcio": "Dissenyador industrial bolcat a la fusteria fina, fusionant processos digitals amb l'acabat manual."
        }
    </include>

    <include src="./views/speakers/speakers-card.html">
        {
        "img": "./assets/images/ponent-3.jpg",
        "alt": "Fotografia de Julián Martos tallant una tela",
        "label": "Teixit sostenible",
        "nom": "Sofia L'Amore",
        "descripcio": "Investigadora tèxtil enfocada a l'ús de tints naturals extrets de residus orgànics i llana de pasturatge local."
        }
    </include>

    <include src="./views/speakers/speakers-card.html">
        {
        "img": "./assets/images/ponent-4.jpg",
        "alt": "Ponent",
        "label": "Fotografia Marc Soler inspeccionant una joia",
        "nom": "Marc Soler",
        "descripcio": "Explora el diàleg entre metalls nobles i materials reciclats per crear peces que narren la història del paisatge."
        }
    </include>

    <include src="./views/speakers/speakers-card.html">
        {
        "img": "./assets/images/ponent-5.jpg",
        "alt": "Fotografia d'Isabel Ruiz en el seu taller",
        "label": "Vidre bufat",
        "nom": "Isabel Ruiz",
        "descripcio": "Especialista en tècniques venecianes aplicades al disseny contemporani d'il·luminació i objectes escultòrics."
        }
    </include>

    <include src="./views/speakers/speakers-card.html">
        {
        "img": "./assets/images/ponent-6.jpg",
        "alt": "Fotografia de Mateu Pons treballant en una peça de cuir",
        "label": "Cuir i calçat",
        "nom": "Mateu Pons",
        "descripcio": "Preservadorde l'ofici de mestre sabater, treballant exclusivament amb adobs vegetals i costura manual."
        }
    </include>

</div>
